@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Update Student";
}
@model StudentWithSchoolsVM
<h1>Update Student</h1>

<div class="row">
    <div class="col-md-4">
       
            <div class="form-group">
                <label  class="contol-label"></label>
                <input id="NameUpdate" class="form-control"/>

            </div>

            <div class="form-group">
                <label  class="contol-label"></label>
                <input id="ClassUpdate" class="form-control"/>

            </div>
            <select id="SchoolIDUpdate" class="form-control">
                @foreach (var item in Model.Schools)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <br />
            <br />
             <div style="margin-top:40px" class="form-group">
               
                <input  value="Update" class="btn btn-primary" onclick="UpdateStudentAJ(@Model.Student.Id)"/>

            </div>
            <div class="form-group">

            <input value="Alanı Kapat" class="btn btn-primary" onclick="CloseUpdataTable()" />

        </div>
        
        <div class="form-group" id="bildiri">

            

        </div>
        

    </div>

</div>

@if(ViewBag.Message !=null){
    <div class="alert alert-danger" role="alert">  @ViewBag.Message</div>
}
